body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Footer CSS */

.footer {
  background-color: #333333;
  color: white;
  height: 110px;
}

.copyright {
  padding-top: 5px;
}

.icons {
  margin-bottom: 5px;
}

.fb-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url('../assets/images/facebook-official.png');
  background-size: cover;
}

.twitter-icon {
  margin-left: 15px;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url('../assets/images/twitter.png');
  background-size: cover;
}

/* Form input CSS */
.form-body {
  margin-top: 150px;
}

.form {
  margin-bottom: 80px;
}

.form .container {
  width: 40%;
  margin: 0 auto;
}

label {
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
  text-align: start;
}

input[id="name"] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
}

input[id="email"] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
}

textarea[id="message"] {
  width: 100%;
  padding-top: 10px;
  height: 100px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  resize:vertical;
  box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
}

button[type="submit"] {
  margin-top: 15px;
  width: 100%;
  padding: 10px 20px;
  background-color: #5696C2;
  color: white;
  border: none;
}

button[type="submit"]:hover {
  background-color: #3388c0;
}

.error {
  font-size: 14px;
  color: red;
  text-align: start;
}

.input-error {
  border-color: red !important;
}

/* Card group CSS */

.card-body {
  margin-top: 100px;
}

.card1 {
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #EA7C6F;
  color: white;
  border: 2px solid #c75a4b;
  position: relative;
}

.card2 {
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #6A996F;
  color: white;
  border: 2px solid #4a7d5a;
  position: relative;
}

.card3 {
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #5696C2;
  color: white;
  border: 2px solid #3388c0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .card1, .card2, .card3 {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .card1:before, .card2:before  {
    top: 100% !important;
    right: 0 !important;
    margin-top: 0 !important;
    left: 50%;
    bottom: -20px;
    margin-left: -10px;
    transform: rotate(180deg) !important;
  }
}

.card1:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  right: -30px;
  margin-top: -10px;
  border: 15px solid transparent;
  border-bottom: 15px solid #c75a4b;
  transform: rotate(90deg);
}

.card2:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  right: -30px;
  margin-top: -10px;
  border: 15px solid transparent;
  border-bottom: 15px solid #4a7d5a;
  transform: rotate(90deg);
}

.innovative-icon {
  margin-top: 15px;
  display: inline-block;
  height: 25px;
  width: 15px;
  background-image: url('../assets/images/lightbulb-o.png');
  background-size: cover;
}

.loyalty-icon {
  margin-top: 15px;
  display: inline-block;
  height: 25px;
  width: 30px;
  background-image: url('../assets/images/bank.png');
  background-size: cover;
}

.respect-icon {
  margin-top: 15px;
  display: inline-block;
  height: 25px;
  width: 30px;
  background-image: url('../assets/images/balance-scale.png');
  background-size: cover;
}

/* Image Slider */
.slider {
  position: relative;
}

img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 2s ease-in-out;
}

.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  box-sizing: border-box;
}

.arrows button {
  background: none;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  color: #fff;
  padding: 10px 13px 10px 13px;; 
  margin: 0;
  border: 1px solid #fff;
  border-radius: 100%;
}

.arrows button:hover {
  background-color: #fff;
  color: black;
}

.position-circles {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #888888;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.active {
  background-color: #fff;
}

.image-container {
  position: relative;
}

.image-container .image-text {
  position: absolute;
  top: 80%;
  left: 30%;
  width: 550px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff; /* Text color */
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: start;
}

@media (max-width: 768px) {
  .image-container .image-text {
    font-size: 14px;
    padding: 8px;
    width: 50%;
    top: 70%;
    max-width: 300px;
  }
}

/* Header CSS */

.header-body {
  width: 80%;
  margin: auto;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.content {
  display:inline-flex;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 18px;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  color: black;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn{
  font-size: 14px;
  border: none;
  outline: none;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
  margin-top: 0px;
}

.work .work-btn ,.team .team-btn ,.contact .contact-btn {
  font-size: 14px;
  border: none;
  outline: none;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  margin-top: 0px;
}

.work-btn:hover, .team-btn:hover, .contact-btn:hover {
  background-color: #F4F4F4;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #F4F4F4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  font-size: 14px;
  color: black;
  padding: 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #333333;
  color: #F4F4F4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .dropdown {
    margin-bottom: 15px;
  }
}

@media (max-width: 560px){
  .content {
    flex-direction: column;
    align-items: center;
  }
}